<a href="https://colab.research.google.com/github/Thalitachargel/Aula_javascript/blob/master/aula1_pandas_Thalita.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/Gapminder.csv', error_bad_lines = False, sep = ";")
df = df.rename(columns={"country":"País", "continent":"Continente", "year": "Ano", "lifeExp" : "Expectativa de vida", "pop" : "População", "gdpPercap": "PIB"})

In [ ]:
df.head(10)
df.shape

In [ ]:

df.describe()

In [ ]:
df["Continente"].unique()

In [ ]:
dfOceania = df.loc[df["Continente"] == "Oceania"]
dfOceania.head()

In [ ]:
dfOceania.shape

In [ ]:
df.groupby("Continente")["País"].nunique()

In [ ]:
df.groupby("Ano")["Expectativa de vida"].mean()

In [ ]:
df["PIB"].sum()

Aula Excel# Nova seção

In [ ]:
df1 = pd.read_excel("/Aracaju.xlsx")
df2 = pd.read_excel("/Fortaleza.xlsx")
df3 = pd.read_excel("/Natal.xlsx")
df4 = pd.read_excel("/Recife.xlsx")
df5 = pd.read_excel("/Salvador.xlsx")
df = pd.concat([df1, df2, df3, df4, df5])
df.head()

In [ ]:
df.dtypes
df["LojaID"] = df["LojaID"].astype("object")
df.dtypes
df.isnull().sum()

In [ ]:
df["Receita"] = df["Vendas"].mul(df["Qtde"])

df["Receita/Vendas"] = df["Receita"] / df["Vendas"]
df["Receita"].min()
df.nsmallest(3, "Receita")

In [ ]:
df.groupby("Cidade")["Receita"].sum()
df.sort_values("Receita", ascending=False).head()

# **Datas**

In [ ]:
df["Data"] = df["Data"].astype("int64")
df.dtypes

In [ ]:
df["Data"] =pd.to_datetime(df["Data"])
df.dtypes

In [ ]:
df.groupby(df["Data"].dt.year)["Receita"].sum()

In [ ]:
df["anoVendas"] = df["Data"].dt.year
df.sample()

In [ ]:
df["Mês"], df["Dia"] = (df["Data"].dt.month, df["Data"].dt.day)

df.sample(5)

In [ ]:
df["DiferençaDias"] = df["Data"] - df["Data"].min()
df.sample(5)

In [ ]:
df["Quadrimestre"] = df["Data"].dt.quarter
vendas_mac2019 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]
vendas_mac2019

In [ ]:
df["LojaID"].value_counts(ascending = True).plot.barh();

In [ ]:
#graf pizza
df.groupby(df["Data"].dt.year)["Receita"].sum().plot.pie();

In [ ]:
#total de vendas pro cidade
df["Cidade"].value_counts()

In [ ]:
import matplotlib.pyplot as plt
df["Cidade"].value_counts().plot.bar(title = "Total de vendas por cidades", color = "red")
plt.xlabel("Cidade")
plt.ylabel("Total de vendas");

In [ ]:
plt.style.use("ggplot")

In [ ]:
df.groupby(df["Mês"])["Qtde"].sum().plot(title = "venda por mês");
plt.xlabel("Mês")
plt.ylabel("Totoal de produtos vendidos") 
plt.legend();

In [ ]:
df2019 = df[df["anoVendas"] == 2019]
df2019.groupby(df2019["Mês"])["Qtde"].sum().plot(marker = "o", title = "Tota de vendas em 2019 por mês")
plt.xlabel("mês")
plt.ylabel("Total de produtos vendidos")
plt.legend();

In [ ]:
plt.hist(df["Qtde"], color = "orangered");

In [ ]:
plt.scatter(x = df2019["Dia"], y = df2019["Receita"]);

In [ ]:
df2019.groupby(df2019["Mês"])["Qtde"].sum().plot(marker ="v")
plt.title("Quantidade de produtos vendidos x Mês")
plt.xlabel("mês")
plt.ylabel("total de vendas")
plt.legend("legenda")
plt.savefig("Grafico qtde x mes.png")

#Analise exploratoria

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [ ]:
from google.colab import files
arq = files.upload()

In [ ]:
df = pd.read_excel("AdventureWorks.xlsx")
df.head()

In [ ]:
df["ID Loja"] = df["ID Loja"].astype(object)
df.dtypes

In [ ]:
#qual foi a receita total?
df["Valor Venda"].sum()

In [ ]:
#custo total
df["Custo"] = df["Custo Unitário"].mul(df["Quantidade"],2)
df.sample(3)

In [ ]:
df["Lucro"] = df["Valor Venda"] - df["Custo"]
df.sample()

In [ ]:
 round(df["Custo"].sum(), 2)

In [ ]:
#lucro total
round(df["Lucro"].sum(), 2)

In [ ]:
df["TempoEnvio"] = (df["Data Envio"] - df["Data Venda"]).dt.days
df.sample()

In [ ]:
df["TempoEnvio"]
df.groupby("Marca")["TempoEnvio"].mean()

In [ ]:
df.isnull().sum()

In [ ]:
df.groupby([df["Data Venda"].dt.year, "Marca"])["Lucro"].sum()

In [ ]:
pd.options.display.float_format = '{:20,.2f}'.format

In [ ]:

df.groupby([df["Data Venda"].dt.year, "Marca"])["Lucro"].sum().plot.pie(title = "Oi", legend = True);

In [ ]:
lucroAno = df.groupby([df["Data Venda"].dt.year, "Marca"])["Lucro"].sum().reset_index()

In [ ]:
lucroAno

In [ ]:
df.groupby("Produto")["Quantidade"].sum().sort_values(ascending = True).plot.barh(title = "Total de produtos vendidos", color = "pink")

plt.xlabel("Total")
plt.ylabel("Produro");

In [ ]:
df.groupby([df["Data Venda"].dt.year])["Lucro"].sum().plot.bar(title = "custo x ano", color = "purple")
plt.xlabel("Ano")
plt.ylabel("Receita");

In [ ]:
df2009 = df[df["Data Venda"].dt.year == 2009]
df2009.sample()

In [ ]:
df2009.groupby(df2009["Data Venda"].dt.month)["Lucro"].sum().plot(title = "mes x lucro")
plt.xlabel("Mês")
plt.ylabel("lucro");

In [ ]:
df2009.groupby("Marca")["Lucro"].sum().plot.bar(title = "Lucro por marca")
plt.xlabel("Marca")
plt.ylabel("Lucro")
plt.xticks(rotation = "horizontal");

In [ ]:
df["TempoEnvio"].describe(

)

In [ ]:
plt.boxplot(df["TempoEnvio"]);

In [ ]:
df[df["TempoEnvio"] == 20]

In [ ]:
df.to_csv("dfVendasNovo.csv", index = False)